.label {
    display: flex;
    flex-direction: column;
    row-gap: 0.5625rem;
    font-weight: 400;
    font-size: 1.06rem;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #1B1B29;
    margin-bottom: 2rem;

    input {
        height: 3.375rem;
        background: #F1F4F8;
        border-radius: 0.75rem;
        transition: border 0.8s ease 0s;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        @media (any-hover: hover) {
            &:hover {
                &::placeholder {
                    color: black;
                }
            }
        }

        &::placeholder {
            font-weight: 400;
            font-size: 1rem;
            line-height: 130%;
            letter-spacing: 0.01em;
            color: #8F8F8F;
            transition: color 0.3s ease 0s;

        }

        &:focus {
            outline: none;

            &::placeholder {
                opacity: 0;
                transition: opacity 0.3s ease 0s;
            }
        }
    }
}