@import '../../styles/vars';

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 55;



    &__container {
        display: flex;
        align-items: center;
        min-height: 80px;

        @media (max-width: $mobile) {
            min-height: 60px;
        }
    }

    &__logo {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.6rem;
        z-index: 5;

        div {
            font-weight: 600;
            font-size: 1rem;
            line-height: 130%;

            @media (max-width: $tablet) {
                display: none;
            }
        }
    }

    &__menu {
        flex: 1 1 auto;

    }

}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;

    &__body {
        @media (max-width: $mobile) {
            position: fixed;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: #E5E5E5;
            left: -100%;
            top: 0;
            padding: 6.25rem 1rem 2rem 1rem;
            transition: left 0.3s ease 0s;

            &._active {
                left: 0;
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;
        column-gap: 2.75rem;
        row-gap: 0.7rem;
        flex-wrap: wrap;
        padding: 0 1rem;

        @media (max-width: $mobile) {
            flex-direction: column;
            justify-content: center;

        }
    }

    &__item {
        position: relative;
        padding: 1rem 0;

        @media (any-hover: hover) {
            &:hover {
                .menu__sub-list {
                    transform: translate(0rem, 1rem);
                    opacity: 1;
                    visibility: visible;
                }

                .menu__link {
                    img:last-child {
                        transform: rotate(-180deg);
                    }
                }
            }
        }


    }

    &__link {
        transition: color 0.3s ease 0s;
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;

        &:nth-child(1) {
            display: flex;
            align-items: center;
            gap: 0.3rem;
        }

        img {
            transition: all 0.3s ease 0s;
        }

        @media (any-hover: hover) {
            &:hover {
                color: rgb(145, 19, 218);
            }
        }

        @media (max-width: $mobile) {
            font-size: 2rem;
        }
    }


}

.actions-header {
    display: flex;
    align-items: center;
    gap: 2.3125rem;

    &__social {
        display: flex;
        gap: 0.75rem;
        position: relative;
        z-index: 5;

        @media (max-width: $mobileSmall ) {
            display: none;
        }
    }

    button {
        position: relative;
        flex: 0 0 136px;
        z-index: 5;
    }
}

/*================================*/

.icon__menu {
    display: none;
    margin-left: 0.6rem;

    @media (max-width: $mobile ) {
        display: block;
        position: relative;
        width: 2rem;
        height: 1.2rem;
        z-index: 5;

        @media (any-hover: none) {
            cursor: default;
        }

        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: 100%;
            height: 0.125rem;
            background-color: black;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: calc(50% - 0.0625rem)
        }

    }

    @media (max-width: $mobileSmall ) {
        flex: 0 0 32px;
    }
}

.menu__profile-img {
    flex: 0 0 32px;
    height: 32px;
    border-radius: 50%;
}